<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>电话: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>电邮: </strong>
      <a href="mailto:{{ .site.Data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.wechat %}
        <div class="call-phone"><strong>微信客服公众号: </strong> {{ site.data.contact.wechat }} </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">联系我们</a>
      </div>
    {% endif %}
</div>
